In [8]:
def say_hello(name='default'):
    print("hello"+name)

In [5]:
say_hello("anjau")

helloanjau

In [9]:
say_hello()

hellodefault

In [10]:
def add_num(n1,n2):
    return n1+n2

In [11]:
add_num(1,2)

3

In [12]:
a=add_num(1,2)

In [13]:
a

3

In [33]:
def check_even_list (mylist):

    for num in mylist :
        if  num%2 == 0:
            return True 
        else :
             pass
            
    return False

In [35]:
check_even_list([1,5,3])

False

In [36]:
def check_even_list (mylist):

    even_numbers =[]
    
    for num in mylist :
        if  num%2 == 0:
            even_numbers.append(num) 
        else :
             pass
            
    return even_numbers

In [38]:
check_even_list([10,13,14,17])

[10, 14]

In [39]:
mytuples =[('apple',100),('Goo',120),('reg',300)]

In [40]:
mytuples

[('apple', 100), ('Goo', 120), ('reg', 300)]

In [42]:
for com,num in mytuples :
    print(num*20)

2000
2400
6000

In [74]:
workhrs =[('abby',100),('jill',120),('mill',300)]

In [73]:

def workhrs_max (mylist) :
        current_max =0
        for com,num in mylist :
            if(current_max < num ):
                current_max = num 
            
        return current_max

In [75]:
workhrs_max(workhrs)

300

In [76]:
mylist =[1,2,3,4,5,6,7,8,9,10]

In [77]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
from random import shuffle

In [82]:
shuffle(mylist)

In [83]:
mylist

[6, 2, 3, 8, 9, 4, 10, 7, 5, 1]

In [84]:
result = shuffle(mylist)

In [85]:
result

In [87]:
def shuffle_list (num):
    shuffle(num)
    return num

In [88]:
mylist

[5, 8, 6, 9, 3, 4, 7, 2, 1, 10]

In [89]:
shuffle_list(mylist)

[5, 1, 6, 2, 3, 4, 9, 8, 7, 10]

In [92]:
def myfunc():
    print("Hello World")

In [93]:
myfunc()

Hello World

In [95]:
def myfunc(name):
    print("Hello World" +name)

In [96]:
myfunc ("anjali")

Hello Worldanjali

In [99]:
def boolean_in(a):
    if a==True :
        return ('Hello')
    else :
        return('GoodBye')

In [103]:
boolean_in(False)

'GoodBye'

In [104]:
def boolean_in(a,b,c):
    if a==True :
        return b
    else :
        return c

In [105]:
boolean_in(True,(1,2),(3,4))

(1, 2)

In [106]:
boolean_in(False,(1,2),(3,4))

(3, 4)

In [107]:
def myfunc(a,b):
    return (a+b)

In [108]:
myfunc(5,6)

11

In [109]:
def is_even(a):
    if a%2==0:
        print("even number")
    else :
        print("odd number")

In [110]:
is_even(6)

even number

In [111]:
is_even(7)

odd number

In [113]:
a=[1] 
b=a
a[0]=0

In [117]:
((1,1),(2,2))

((1, 1), (2, 2))

In [124]:
"helyoabcdef"[1:-2]

'elyoabcd'